$white-1: #fff;
$black-1: #000;
$pink-1: #f93065;
$pink-2: rgba(249, 48, 101, 1);
$pink-3: linear-gradient($white-1, $pink-2);
$pink-4: rgba(249, 48, 101, 0);
$pink-5: #ef0d53;
$pink-6: #f45780;
$grey-1: #d1d6ff;
$yellow-1: #f2d214;
$blue-1: #7a88ed;
$purple-1: #8363a9;
$green-1: #cbe6ff;
